<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JDM Word - Free Japanese stock photo</title>
    <script type="module" src="js/app.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cars">Cars</a></li>
            <li><a href="/upload">Upload</a></li>
        </ul>
    </header>
    <div style="position: fixed; width: 100%; display: flex; justify-content: flex-end; flex-direction: column;" id="notification"></div>
    <!-- Everthing goes here -->
    <main></main>
    <footer></footer>
</body>
</html>